.desktop{
    width: 100%; 
    margin: 50px;
    font-family: "Lucida Console", monospace;
}

.icon{
    height: 170px;
    width: 170px;
    margin:5px;
}

  
  .pretend_tooltip .pretend_tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
   }
   
  .pretend_tooltip:hover .pretend_tooltiptext {
    visibility: visible;
  } 

  .top_tooltip:hover .pretend_tooltiptext {
    visibility: visible;
  } 

  .main-container-for-3-horizontals{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .row-sharing-3-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .row-sharing-2-icons{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
  }

