.navbar{
    top:  30px;
    position:fixed;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: "Lucida Console", monospace;
    display: flex;

}

span{
    color: #dafe11;
}

a{
 color: #dafe11
}