.navbar{
    /* width: 100%; */
    top:  30px;
    position:fixed;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: "Lucida Console", monospace;
    display: flex;
    background-color: #000080;
    height: max-content;
}

.navbar-container{
    top:  0;
    position:fixed;
    display:block;
    width: 100%;
    background-color: #000080;
    height: 60px;
}


span{
    color: #dafe11;
}

a{
 color: #dafe11
}