.panel{
    display: flex;
    flex-direction: column;
    background-color: #cb1999;
    border-radius: 10px;
    padding: 10px 8px 100px 8px;
    margin: 40px;
    width: 300px;
    height: 100px;
}

.title{
    font-family: "Lucida Console", monospace;
    font-weight: 600; 
    color:#dafe11;
}

.button-list{
    font-family: "Lucida Console", monospace;
    display: flex;
}

Button{
    font-family: "Lucida Console", monospace !important; 
    color:#dafe11 !important;

}

span{
    color: #dafe11;
}